In [1]:
import pandas as pd
from neuralprophet import NeuralProphet
from matplotlib import pyplot as plt
import pickle

Importing plotly failed. Interactive plots will not work.
Importing plotly failed. Interactive plots will not work.

In [2]:
df = pd.read_csv(r"C:\Users\pavan\StudioProjects\VIT_Hackathon\machine_learning\data\Chennai_1990_2022_Madras.csv")
df.head()

         time  tavg  tmin  tmax  prcp
0  01-01-1990  25.2  22.8  28.4   0.5
1  02-01-1990  24.9  21.7  29.1   0.0
2  03-01-1990  25.6  21.4  29.8   0.0
3  04-01-1990  25.7   NaN  28.7   0.0
4  05-01-1990  25.5  20.7  28.4   0.0

In [11]:
for cols in df:
  if (cols != "time" and cols != "tavg"):
    df.drop(cols,axis=1,inplace=True)

In [21]:
df = df.rename({'time':'ds','tavg':'y'})

In [23]:
df.head()

         time  tavg
0  01-01-1990  25.2
1  02-01-1990  24.9
2  03-01-1990  25.6
3  04-01-1990  25.7
4  05-01-1990  25.5

In [ ]:
m = NeuralProphet()

In [ ]:
model = m.fit(data, freq='D', epochs=1000)

# 3. Forecast Away

In [ ]:
future = m.make_future_dataframe(data, periods=900)
forecast = m.predict(future)
forecast.head()

In [ ]:
plot1 = m.plot(forecast)

In [ ]:
plt2 = m.plot_components(forecast)

# 4. Save Model

In [ ]:
with open('saved_model.pkl', "wb") as f:
    pickle.dump(m, f)

In [ ]:
del m

In [ ]:
with open('saved_model.pkl', "rb") as f:
    m = pickle.load(f)

In [ ]:
future = m.make_future_dataframe(data, periods=900)
forecast = m.predict(future)
forecast.head()

In [ ]:
plot1 = m.plot(forecast)